<div class="row">
  <div class="col-sm-11 text-center"><h2>Book Store</h2></div>
</div>
<table border="1" class="table table-condensed">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Author</th>
    <th>Publisher</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books" (click)="getBookDetails(book.id)">
    <td>{{book.id}}</td>
    <td>{{book.title}}</td>
    <td>{{book.authors}}</td>
    <td>{{book.publisher}}</td>
    <td>{{book.price | currency: 'INR'}}</td>
  </tr>
  </tbody>
</table>
